body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #434343;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;    
  gap: 20px;                  
  padding: 20px;
}

#simulation {
  background-color: green;
  padding: 20px;
  border-radius: 8px;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: #28a745;
}

.btn-secondary {
  background-color: #3a5f7f;
}

.btn-danger {
  background-color: coral
}